### IntelliJ ###
.idea
*.iml
**/target/*
*/*.iml
*.iml

### Gradle ###
.gradle
build/
buildSrc/build/
generated/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache
